node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.env.local
*.log
screenshots/
videos/
traces/

# specific to each individual developer, not the project
auth.json