@import 'tailwindcss';
@import 'tw-animate-css';
@import '../../@tailwind-shared/index.css';

@import '@nuxt/ui-pro';

/* Scan unraid-ui package from linked directory for class usage */
@source "../../unraid-ui/dist/**/*.{js,mjs}";
@source "../../unraid-ui/src/**/*.{vue,ts}";
@source "../**/*.{vue,ts,js}";
