version: '3.8'

x-volumes: &volumes
  volumes:
  - ./dev:/app/dev
  - ./src:/app/src
  - ./patches:/app/patches
  - ./package.json:/app/package.json
  - ./package-lock.json:/app/package-lock.json
  - ./tsconfig.json:/app/tsconfig.json
  - ./tsup.config.ts:/app/tsup.config.ts
  - ./vite.config.ts:/app/vite.config.ts
  - ./dist/:/app/dist/
  - ./deploy/:/app/deploy/
  - ./README.md:/app/README.md
  - ./scripts/:/app/scripts/
  - ../.git/:/app/.git/
  - ./.env.production:/app/.env.production
  - ./.env.staging:/app/.env.staging
  - ./.env.test:/app/.env.test
  - ./.env.development:/app/.env.development
  - ./.pkg-cache:/app/.pkg-cache
  - ./codegen.yml:/app/codegen.yml
  - ./fix-array-type.cjs:/app/fix-array-type.cjs
  - ./deno.json:/app/deno.json
  - /var/run/docker.sock:/var/run/docker.sock

services:

  dev:
    image: unraid-api:development
    ports:
      - "3001:3001"
    build: 
      context: .
      target: development
      dockerfile: Dockerfile
    <<: *volumes
    stdin_open: true
    tty: true
    entrypoint: /bin/bash
    environment: 
      - IS_DOCKER=true
      - GIT_SHA=${GIT_SHA:?err}
      - IS_TAGGED=${IS_TAGGED}
    profiles:
      - builder

  local:
    image: unraid-api:development
    ports:
      - "3001:3001"
    build: 
      context: .
      target: development
      dockerfile: Dockerfile
    <<: *volumes
    command: npm run start:dev
    environment: 
      - IS_DOCKER=true
      - GIT_SHA=${GIT_SHA:?err}
      - IS_TAGGED=${IS_TAGGED}
    profiles:
      - builder

  builder:
    image: unraid-api:builder
    environment:
      - GIT_SHA=${GIT_SHA:?err}
      - IS_TAGGED=${IS_TAGGED}
    build: 
      context: .
      target: builder
      dockerfile: Dockerfile
    <<: *volumes
    profiles:
      - builder